:root {
    --sidebar-color: #231b2e;
    --main-board-color: #34224f;
    --element-color: #ffffff;
    --black-color: #000000;
    --active-color: #c273ed;
    --scrollbar-color: #281a3d;
    --header-element-color: rgba(255, 255, 255, .2);
    --tippy-color: #4f4f4f;
    --space-between: calc(482px / 11);
    --c-space-between: calc(757px / 11);
}

html {
    width: 100%;
    height: 100%;
    min-width: 1000px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
    position: relative;
}

.background-left.full,
.background-left.scaled {
    height: 100%;
    z-index: 2;
    overflow: hidden;
    position: fixed;
    left: 0;
    background-color: var(--main-board-color);
}

.background-left.full {
    width: calc(284 / 1903 * 100%);
}

.background-left.scaled {
    width: calc(274 / 1903 * 100%);
}

.background-left img {
    height: 100%;
    width: 1920px;
}

.background-center.full,
.background-center.scaled {
    height: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 0;
    background-color: var(--main-board-color);
}

.background-center.full {
    width: calc(1590 / 1903 * 100%);
    left: calc(284 / 1903 * 100%);
}

.background-center.scaled {
    left: calc(274 / 1903 * 100%);
    width: calc(1278 / 1903 * 100%);
}

.background-center img {
    height: 100%;
    width: 1920px;
    transform: translateX(calc(-286 / 1903 * 100%));
}

.background-right.full,
.background-right.scaled {
    height: 100%;
    z-index: 2;
    overflow: hidden;
    position: fixed;
    background-color: var(--main-board-color);
}

.background-right.full {
    width: calc(46 / 1903 * 100%);
    left: calc(1874  / 1903 * 100%);
}

.background-right.scaled {
    width: calc(368 / 1903 * 100%);
    left: calc(1552 / 1903 * 100%);
}

.background-right img {
    height: 100%;
    width: 1920px;
    transform: translateX(calc(-1873  / 1903 * 100%));
}

.cover {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 998;
    background-color: rgba(0, 0, 0, .5);
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noSelect:focus {
    outline: none !important;
}

.is-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.is-space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.is-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor-pointer {
    cursor: pointer;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

aside.sidebar-left {
    position: fixed;
    height: calc(100vh - 90px);
    background-color: rgba(255, 255, 255, .05);
    font-size: var(--fourteen-pixel);
    z-index: 103;
}

.sidebar-right .active svg {
    fill: var(--element-color);
}

.active svg {
    fill: var(--active-color);
}

.main-body {
    margin-left: calc(240 / 1920 * 100%);
    width: calc(1680 / 1920 * 100%);
    position: relative;
    z-index: 1;
    height: max-content;
    transform-origin: left top;
    transition: .3s ease-in-out;
}

section {
    width: 100%;
    margin-top: 25px;
}

.song-list,
.filter-container,
.latest-release__song-list,
.section__toolbar,
.weekly-song__list,
.new-song__toolbar,
.new-song__container,
.notitle__song-container,
.event-list {
    width: calc(1550 / 1680 * 100%);
    position: relative;
}

.gallery-container,
.mv-container,
.song-list,
.filter-container,
.special-radio__container,
.weekly-song__list,
.popular-singer__container,
.new-song__container,
.notitle__song-container,
.event-list {
    margin: 0 auto;
}

.last {
    margin-bottom: 120px;
}

aside.sidebar-right {
    right: 0;
    width: 0;
    position: fixed;
    display: none;
    height: calc(100% - 90px);
    background-color: rgba(255, 255, 255, .05);
    z-index: 103;
    transition: width .3s;
    flex-direction: column;
}

.footer {
    border-top: 1px solid #29364f;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: #34224f;
    z-index: 104;
    cursor: pointer;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 1920px) {
    :root {
        --ten-pixel: 10px;
        --eleven-pixel: 11px;
        --twelve-pixel: 12px;
        --thirteen-pixel: 13px;
        --fourteen-pixel: 14px;
        --fifteen-pixel: 15px;
        --sixteen-pixel: 16px;
        --eighteen-pixel: 18px;
        --twenty-pixel: 20px;
        --twenty-four-pixel: 24px;
        --twenty-eight-pixel: 28px;
        --thirty-two-pixel: 32px;
        --thirty-six-pixel: 36px;
        --forty-pixel: 40px
    }

    .sidebar-left__logo img {
        margin: 16px 92px 0 30px;
    }

    aside.sidebar-left {
        width: calc(240 / 1903 * 100%);
    }

    .sidebar-left__menu-item {
        padding: 8px 30px;
    }

    .sidebar-left__menu-item.active {
        padding-left: 27px;
    }
 
    .icon + .content {
        padding-left: 10px;
    }

    .chart__list-song__item .song-list__item-left {
        width: calc(500 / 1408 * 100%);
    }
    
    .chart__list-song__item .song-list__item-album {
        width: calc(400 / 1408 * 100%);
    }

    .chart__list-song__item .rank {
        width: calc(100 / 1550 * 100%);
        padding-left: 15px;
        margin-right: 15px;
    }

    .vip_banner, .login_banner {
        display: flex;
        flex-direction: column;
        margin: 10px 24px 0;
        padding: 10px 16px;
        border-radius: 8px;
    }

    .album__song-list__item .song-list__item-right {
        margin-left: 248px;
    }
}

@media only screen and (max-width: 1600px) {
    .login_banner, .vip_banner {
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    :root {
        --ten-pixel: 6px;
        --eleven-pixel: 7px;
        --twelve-pixel: 8px;
        --thirteen-pixel: 9px;
        --fourteen-pixel: 10px;
        --fifteen-pixel: 11px;
        --sixteen-pixel: 12px;
        --eighteen-pixel: 14px;
        --twenty-pixel: 16px;
        --twenty-four-pixel: 20px;
        --twenty-eight-pixel: 24px;
        --thirty-two-pixel: 28px;
        --thirty-six-pixel: 32px;
        --forty-pixel: 36px
    }

    aside.sidebar-left {
        width: calc(85 / 1200 * 100%);
    }
    
    .sidebar-left__logo img {
        margin: 13px auto;
        width: 70%;
    }
    
    .selection {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 69px;
    }
    
    .sidebar-left__menu-item {
        padding: 8px 0;
    }
    
    .sidebar-left__menu-item.active {
        padding: 0;
    }
    
    .icon + .content {
        padding: 0;
        margin-top: 4px;
    }
    
    header.header {
        left: calc(85 / 1200 * 100%);
        width: calc(85 / 1200 * 100%);
    }
    
    .main-body {
        margin-left: calc(85 / 1200 * 100%);
        width: calc(1115 / 1200 * 100%);
    }
    
    .background-left.full {
        width: calc(108 / 1200 * 100%);
    }
    
    .background-left.scaled {
        width: calc(108 / 1200 * 100%);
    }
    
    .background-center.full {
        width: calc(1067 / 1200 * 100%);
        left: calc(108 / 1200 * 100%);
    }
    
    .background-right.full {
        left: calc(1175 / 1200 * 100%);
        width: calc(25 / 1200 * 100%);
    }
    
    .footer {
        width: 100%;
    }
    
    .latest-release__song-img {
        width: 50px;
        height: 50px;
    }
    
    .chart {
        height: 374px;
    }
    
    .chart__chart-title {
        margin: 20px 25px 0;
    }
    
    .chart__left-chart {
        width: 275px;
    }
    
    .song-rank {
        padding-left: 10px;
        margin-right: 10px;
    }
    
    .chart-list__item {
        height: 60px;
    }
    
    .chart-list__item-img {
        width: 40px;
        height: 40px;
    }
    
    .chart-list__item-info {
        width: 140px;
    }
    
    .chart-viewers {
        font-size: 14px;
    }
    
    .box + .box {
        margin-top: 52px;
    }
    
    .item-left {
        width: 80px;
    }
    
    .item-center {
        width: 120px;
    }
    
    .item-center__song-name {
        font-size: 14px;
    }
    
    .item-center__singer {
        font-size: 13px;
    }
    
    .item-center__order {
        font-size: 24px;
    }
    
    .personal-info__details {
        margin: 37px 0 0 20px;
    }
    
    .personal-page .song-page .song-list__item-right {
        display: none;
    }
    
    .duration-title {
        display: none;
    }
    
    .personal-page .song-page .song-list__item-left {
        width: 62.5%;
    }
    
    .personal-page .song-page .song-list__item-album {
        width: 37.5%;
    }
    
    .song-title {
        margin-left: 18px;
        width: 62.5%;
    }
    
    .album-title {
        width: 37.5%;
    }

    .chart__list-song__item .song-list__item-left {
        width: calc(3 / 7 * 100%);
    }
    
    .chart__list-song__item .song-list__item-album {
        width: calc(3 / 7 * 100%);
    }
    
    .chart__list-song__item .rank {
        padding-left: 10px;
        margin-right: 10px;
    }
    
    .chart-page__bottom .song-list__item-left{
        width: calc(6 / 7 * 100%);
    }

    .new-song__list-item {
        height: 77px;
    }

    .album__song-list__item .song-list__item-right {
        margin-left: 0;
    }
    
    .album-page .page-left {
        width: calc(240 / 1067 * 100%);
    }
    
    .album-page .page-right {
        width: calc(810 / 1067 * 100%);
    }
    
    .album-page .page-right .song-list__item-left {
        width: calc(330 / 781 * 100%);
    }
    
    .album-page .page-right .song-list__item-album {
        width: calc(340 / 781 * 100%);
    }
    
    .album-page .song-list__item-main-img {
        width: 10%;
    }

    .playlist-btn {
        display: none;
    }
}