.personal-page {
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 10px;
}

.personal-page__top {
    display: flex;
    width: calc(1550 / 1680 * 100%);
    position: relative;
    margin: 0 auto;
}

.personal-page__left {
    width: calc(630 / 1550 * 100%);
}

.personal-info {
    width: calc(600 / 630 * 100%);
    background-image: linear-gradient(red 50%, transparent 50%);
    padding: 20px 0 20px 20px;
    display: flex;
    border: 4px solid #fff;
    border-radius: 10px;
}

.personal-avatar {
    padding: 8px;
    width: calc(100% / 3);
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--main-board-color);
}

.personal-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.personal-info__details {
    flex: 1;
    margin: 59px 0 0 20px;
    color: var(--element-color);
}

.personal-info__details .name {
    font-size: var(--forty-pixel);
    font-weight: 700;
    border-bottom: 4px solid green;
    margin-bottom: 20px;
}

.personal-info__details span {
    margin-left: 4px;
    font-size: var(--fourteen-pixel);
}

.subpage-bar {
    width: calc(530 / 1680 * 100%);
    height: 36px;
    position: relative;
    margin: 0 auto 20px;
    padding: 0;
    display: flex;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .3);
}

.subpage-name {
    color: var(--element-color);
    width: calc(100 / 530 * 100%);
    height: 14px;
    text-align: center;
    margin: 3px;
    padding: 8px 0;
    font-size: var(--twelve-pixel);
    border-radius: 20px;
}

.subpage-name.active {
    background-color: rgba(255, 255, 255, .4);
}

.list-song-img {
    position: relative;
    width: 100%;
    height: 300px;
}

.list-song-img img {
    top: 50%;
    left: 50%;
    width: calc(250 / 630 * 100%);
    position: absolute;
    border-radius: 20px;
    transition: .5s ease-in-out;
}

.list-song-img img.first {
    transform: translate(calc(-75% + 175px), -50%);
    opacity: 1;
    z-index: 7;
}

.list-song-img img.second {
    transform: translate(calc(-75% + 125px), -50%) scale(.9);
    opacity: .9;
    z-index: 6;
}

.list-song-img img.third {
    transform: translate(calc(-75% + 75px), -50%) scale(.8);
    opacity: .8;
    z-index: 5;
}

.list-song-img img.fourth {
    transform: translate(calc(-75% + 25px), -50%) scale(.7);
    opacity: .7;
    z-index: 4;
}

.list-song-img img.fifth {
    transform: translate(calc(-75% - 25px), -50%) scale(.6);
    opacity: .6;
    z-index: 3;
}

.list-song-img img.sixth {
    transform: translate(calc(-75% - 75px), -50%) scale(.5);
    opacity: .5;
    z-index: 2;
}

.list-song-img img.seventh {
    transform: translate(calc(-75% - 125px), -50%) scale(.4);
    opacity: .4;
    z-index: 1;
}

.personal-page__right {
    width: calc(900 / 1550 * 100%);
    height: 610px;
}

.personal-page__right-song-list {
    width: 100%;
    margin: 0 10px;
    max-height: 570px;
    overflow-y: scroll;
}

.personal-page__right-song-list::-webkit-scrollbar {
    width: 5px;
    background-color: var(--main-board-color);
}

.personal-page__right-song-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: var(--scrollbar-color);
}

.personal-page__right-song-list::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: var(--main-board-color);
}

.personal-page__right-song-list__item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-top: 1px solid rgba(255, 255, 255, .3);
}

.song-list__item-left {
    width: calc(450 / 879 * 100%);
}

.personal-page__right-title {
    display: flex;
    color: var(--element-color);
    padding: 0 0 8px;
}

.personal-page__right-song-list__item:hover {
    background-color: rgba(255, 255, 255, .15);
    border-radius: 8px;
}

.personal-page__right-song-list__item:hover .song-list__item-main-img img {
    filter: brightness(.4);
}

.personal-page__right-song-list__item:hover .duration,
.personal-page__right-song-list__item:hover .note-icon {
    display: none;
}

.personal-page__right-song-list__item:hover .song-list__item-main-img svg,
.personal-page__right-song-list__item:hover .more-btn,
.personal-page__right-song-list__item:hover .checkbox {
    display: flex;
}

input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    width: 14px;
    height: 14px;
    margin: 0;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 4px;
    display: none;
}

input[type='checkbox']::after {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: none;
    color: var(--element-color);
}

input[type='checkbox']:checked {
    border-color: var(--element-color);
}

input[type='checkbox']:checked::after {
    display: block;
}

.song-list__item-main-img {
    width: calc(4 /45 * 100%);
    height: fit-content;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.song-list__item-main-img img {
    width: 100%;
    height: 100%;
    display: block;
}

.song-list__item-main-img svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.song-list__item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--element-color);
    width: calc(37 / 45 * 100%);
}

.item-info__song-name {
    margin: 0;
    font-size: var(--fifteen-pixel);
}

.song-info__singer {
    color: #85808b;
    font-size: var(--thirteen-pixel);
}

.song-list__item-album {
    color: var(--element-color);
    font-size: var(--fourteen-pixel);
    width: calc(355 / 879 * 100%);
}

.song-list__item-right {
    font-size: var(--fourteen-pixel);
    color: var(--element-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.song-list__item-right .like-btn {
    margin-right: 8px;
}

.song-list__item-right .more-btn {
    margin-right: 5px;
    display: none;
}

.song-list__item-right .like-btn,
.song-list__item-right .more-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
}

.song-list__item-right .like-btn:hover .tippy-top,
.song-list__item-right .more-btn:hover .tippy-top {
    display: block;
}

.song-list__item-right .like-btn .on-like-icon.hidden,
.song-list__item-right .like-btn .like-icon.hidden {
    display: none;
}

.mv-list__item {
    width: calc(500 / 1575 * 100%);
}

.mv-list__item-img {
    width: 100%;
    display: block;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.mv-list__item-img img {
    width: 100%;
    transition: .3s ease-in-out;
}

.mv-list__item-img:hover img {
    transform: scale(1.1);
    transform-origin: 50% 50%;
    filter: brightness(.4);
}

.mv-list__item-img:hover .play-btn {
    display: block;
}

.mv-info {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 6px ;
}

.mv__item__singer-img {
    width: 10%;
    border-radius: 50%;
    overflow: hidden;
}

.mv__item__singer-img img {
    display: block;
    width: 100%;
    height: 100%;
}

.mv__item-info {
    color: var(--element-color);
    width: 250px;
    margin-left: 10px;
}

.mv-info .album-title {
    margin: 0;
    font-size: var(--fourteen-pixel);
    color: var(--element-color);
}

.mv-info .album-title:hover {
    color: var(--active-color);
}

.mv-list__item .singer-name {
    font-size: var(--twelve-pixel);
}

.personal-singer {
    width: calc(1550 / 1680 * 100%);
    margin: 0 auto;
}

.personal-singer .section__toolbar {
    width: 100%;
}
/* Album page */
.album-list {
    position: relative;
    margin: 0 auto;
    width: calc(1575 / 1680 * 100%);
    display: flex;
    flex-flow: row wrap;
}

.album-list__item {
    width: calc(290 / 1575 * 100%);
    margin: 30px calc(12.5 / 1575 * 100%) 0;
}

.album-list__item-img {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.album-list__item-img img {
    width: 100%;
    height: 100%;
    display: block;
    transition: .3s ease-in-out;
}

.album-name {
    color: var(--element-color);
    margin: 16px 0 0;
}

/* MV Page */
.mv-list {
    position: relative;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.subpage .mv-list {
    width: calc(1575 / 1680 * 100%);
}

.mv-page .mv-list__item {
    margin: 30px calc(12.5 / 1575 * 100%) 0;
}

.mv-list__item .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

/* Singer Page */
.personal-page section.popular-singer {
    margin-top: 0;
}

.personal-page .popular-singer__list {
    position: relative;
    margin: 0 auto;
    width: calc(1575 / 1680 * 100%);
    display: flex;
    flex-flow: row wrap;
}

.personal-page .popular-singer__list-item {
    margin: 30px calc(12.5 / 1575 * 100%) 0;
}

.personal-page .song-page .mv-container {
    width: 100%;
}

.personal-singer__list {
    width: 100%;
}

.personal-singer__list-item {
    width: calc(200 / 1550 * 100%);
}

.personal-singer__list-item img {
    width: 100%;
}

.song-title {
    width: calc(350 / 750 * 100%);
    margin-left: calc(40 / 750 * 100%);
}

.album-title {
    width: calc(288 / 750 * 100%);
}

.duration-title {
    width: calc(72 / 750 * 100%);
}