.zing-chart-page {
    width: 100%;
    margin: 0;
    display: block;
}

.zing-chart-page.hidden {
    display: none;
}

.chart-page__top {
    position: relative;
    width: 100%;
    height: 595px;
    display: block;
}

.zing-chart-page .chart__chart-title {
    position: relative;
    width: calc(1550 / 1680 * 100%);
    margin: 0 25px 20px;
}

.zing-chart-page .chart__chart-title .zing-chart {
    margin: 90px 0 0 40px;
    font-size: var(--forty-pixel);
}

.zing-chart-page .chart__chart-title .chart__play-icon {
    margin-top: 79px;
}

.zing-chart-page .bg-chart {
    width: calc(1550 / 1680 * 100%);
    left: calc(65 / 1680 * 100%);
    height: 439.4px;
}

.zing-chart-page .box {
    margin-top: 20px;
}

.zing-chart-page .box + .box {
    margin-top: 93px;
}

.zing-chart-page .chart-data {
    height: 74%;
}

.chart-page__center {
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: max-content;
}

.chart__list-song {
    position: relative;
    width: calc(1550 / 1680 * 100%);
    margin: 0 auto;
}

.chart__list-song__item {
    color: var(--element-color);
    padding: 10px 0;
    border-bottom: 1px solid white;
}

.chart__list-song__item .song-list__item-left {
    width: calc(300 / 1408 * 100%);
}

.chart__list-song__item .rank {
    width: calc(100 / 1550 * 100%);
    padding-left: 15px;
    margin-right: 15px;
}

.chart__list-song__item .song-rank {
    text-align: center;
    margin: 0;
    padding: 0;
}

.chart__list-song__item .song-list__item-album {
    width: calc(400 / 1408 * 100%);
}

.chart__list-song__item:hover {
    background-color: rgba(255, 255, 255, .15);
    border-radius: 8px;
}

.chart__list-song__item:hover img {
    filter: brightness(.4);
}

.chart__list-song__item:hover .play-icon,
.chart__list-song__item:hover .like-btn,
.chart__list-song__item:hover .more-btn {
    display: flex;
}

.chart__list-song__item:hover .duration {
    display: none;
}

.chart__list-song__item .like-btn {
    display: none;
}

.chart__list-song__item .song-list__item-right {
    width: calc(80 / 1408 * 100%);
}

.chart__list-song__item .song-rank__container {
    width: 80%;
    text-align: center;
}

.rank-change {
    font-size: var(--twelve-pixel);
    text-align: center;
}

.rank-status {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rank-status svg {
    display: block;
}

.chart-center__bottom {
    width: 100%;
    padding: 16px 0 24px;
}

.chart__more-btn {
    padding: 10px 16px;
    border-radius: 999px;
    width: 132px;
    color: var(--element-color);
    border: 1px solid white;
}
.chart__more-btn:hover {
    background-color: rgba(255, 255, 255, .15);
}

.chart-page__bottom {
    position: relative;
    width: 100%;
    height: 595px;
    margin-bottom: 33px;
    padding-top: 40px;
}

.chart-page__bottom-title {
    width: calc(1550 / 1680 * 100%);
    position: relative;
    margin: 0 auto 20px;
    color: var(--element-color);
    font-size: var(--thirty-six-pixel);
    font-weight: 700;
}

.chart-page__bottom-container {
    width: calc(1550 / 1680 * 100%);
    position: relative;
    margin: 0 auto;
}

.chart-page__bottom-column {
    width: calc(500 / 1550 * 100%);
    padding: 20px 0;
    background-color: rgba(255, 255, 255, .15);
    border-radius: 10px;
}

.column-title {
    font-size: var(--twenty-four-pixel);
    font-weight: 700;
    margin-left: 40px;
    color: var(--element-color);
    display: flex;
    align-items: center;
}

.column-title .chart__play-icon {
    width: 30px;
    height: 30px;
}

.chart-page__bottom .rank {
    width: calc(60 / 500 * 100%);
}

.chart-page__bottom .song-list__item-left {
    width: calc(300 / 389.2 * 100%);
}

.chart-page__bottom .song-list__item-main-img {
    width: calc(2 / 15 * 100%);
}

.chart-page__bottom .song-rank__container {
    width: calc(40 / 58.797 * 100%);
}

.chart-page__bottom .chart__list-song__item {
    border: none;
    padding-right: 10px;
}

.zing-chart-page .song-list__item-info {
    width: calc(5 / 6 * 100%);
}